{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{% static 'CSS/Sidebarstyle.css' %}">
</head>
<body>  
    <div class="nowtime">
        Time now is <span id="time"></span>
    </div>
    <div class="container">
        <div id='alert'></div>
        {% if messages %}
			{% for message in messages %} 
				<div class = "msg">
					{{message}}
				</div>
            
            {% endfor %}
        {% endif %}
        <h1>Hospital Management System</h1>
    </div>
    <div id="sidebar">
        ￼ ￼
        *{
        <div class="toggle-btn" onclick="togglesidebar()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div>
            <ul>
                {% for k,v in menu.items %}
                    <li onclick="location.href = '{{v}}';">{{k}}</li>
                {% endfor %}            
            </ul>       
        </div>
    </div>
        
    <script>
        function togglesidebar(){
            document.getElementById("sidebar").classList.toggle('active');
        }

        function displayTime(){
        let today = new Date();
        let time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
       // console.log(time);
        document.getElementById('time').innerHTML = time;
        }
        setInterval(displayTime,  1000);
        


        function accessdenied(){
            document.getElementById('alert').innerHTML='<p style="font-size:40px">Access Denied!!!</p>'; 
            setTimeout(function() {
                document.getElementById('alert').innerHTML='';
                },3000);
        }
        //accessdenied();
        // Whenever we need to pop up a access denied message on screen we will call this function
       

    </script>
    
</body>
</html>
