{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel ="stylesheet" href="{% static 'CSS/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet"> 

    <nav id = navsticky>

        <div class="dropdown">
            <button class="dropbtn">Actions</button>
            <div class="dropdown-content">
                <a onclick="location.href = '/profile/{{request.user}}';">Profile</a>
                {% for k,v in actions.items %}
                    <a onclick="location.href = '{{v}}';">{{k}}</a>
                {% endfor %}
                <a onclick="location.href = '/logout/';">Logout</a>
            </div>
          </div>
        <div id='alert'>
                {% if messages %}
                    {% for message in messages %} 
                        <script>
                            document.getElementById('alert').innerHTML='<p class =" alert" >{{message}}</p>'; 
                            setTimeout(function() {
                                document.getElementById('alert').innerHTML='';
                                },3000);
                        </script>     
                    {% endfor %}
                {% endif %}
            </div> 
            <a href="/">
            <div>
                <img src="{% static 'logo.png' %}" alt="logo" style="
                position: relative;
                margin-left: 150px;
                margin-top: 0;
                width: 200px;
                height: 180px;
                ">
                </a>
                
            </div>
            <a href="/">
         <div class="logo">
               <h4>Vaishnav Hospitals</h4>
            </div> 
            </a>
        
            
            <!-- For navbar-->
            
            <ul class="navbar">
                
               
                <li><a href="/">Home</a></li>
                <li><a href="/aboutus/">About US</a></li>
                           
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            
            <div class="nowtime">
                Time now <span id="time"></span>
            </div>
        </nav>
</head>
<body>
   <style>
            img{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 800px;
        height: 800px;
        margin-left: 100px;
        z-index: -1;
        }
   </style>
        <img src="{% static 'background.jpg' %}" alt="background" 
        style="
        position: absolute;
        z-index: -20; 
        width:1300px;
        height: 800px; 
        margin-left: 80px; 
        margin-bottom: 10px;
        margin-top: 80px;
        box-shadow: 10px 10px 10px 10px rgba(3, 0, 0, 0.2), 10px 10px 10px 10px rgba(0, 0, 0, 0.19);
        ">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        {% block con %}

        {% endblock con %}
        <footer>
            <p style=" color: black; text-align: center; position: relative;"> © Vaishnav Hospitals 2020</p>
        </footer>
</body>

<script>
    function togglesidebar(){
        document.getElementById("sidebar").classList.toggle('active');
    }

    function displayTime(){
    let today = new Date();
    let time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
   // console.log(time);
    document.getElementById('time').innerHTML = time;
    }
    setInterval(displayTime,  1000);
    function accessdenied(mesg){
        document.getElementById('alert').innerHTML='<p style="font-size:20px">mesg</p>'; 
        setTimeout(function() {
            document.getElementById('alert').innerHTML='';
            },3000);
    }
</script>
</html>