{% extends 'index.html' %}



{% block con %}

    
    <title>Appointment-Form</title>
    <div>
        <div class="form-group general-form">
            <h1>Appointment-Form</h1>
            <form action ="/appointments/book/" method="POST">
                {% csrf_token %}
                <div class=grid-cont>
                    <div class="row">
                        <label for="Name">
                            <h4>Name</h4>
                        </label>    
                    </div>
                    <div class="info">
                        {{form.user_name}}
                    </div>
                </div>

                <div class="grid-cont">
                    <div class="row">
                        <label for="doctorname">
                            <h4>Doctor Name</h4>
                        </label>
                    </div>
                    <div class="info">
                        {{form.doctor_name}}   
                    </div>
                </div>

                <div class="grid-cont">
                    <div class="row">
                        <label for="date">
                            <h4>Date</h4>
                        </label>
                    </div>
                    <div class="info">
                        <input type="date" name = "date" id="date" placeholder="date">
                        <!-- {{form.date}} -->
                    </div>
                </div>

                <div class="grid-cont">
                    <div class="row">
                        <label for="time">
                            <h4>Time</h4>
                        </label>
                    </div>
                    <div class="info">
                        <input type="time" name = "time" id="time" step="10" placeholder="time">
                        <!-- {{form.time}} -->
                    </div>
                </div>

                <div class="grid-cont">
                    <div class="row">
                        <label for="comment">
                            <h4> Comment </h4>
                        </label>
                    </div>
                    <div class="info">
                        <br>
                        {{form.Comment}}
                    </div>
                </div>
                <div>
                    <button id="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>
    </div>

        
{% endblock con %}







