{% extends 'index.html' %}




{% block con %}
    

<style>

     .container {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 100px;
    }

    h2 {
        font-size: 22px;
        margin: 15px 0;
        text-align: center;
    }

    .responsive-table li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .table-header {
        background-color: #95A5A6;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    .table-row {
        background:linear-gradient(to right, #7f9ec7 0%, #b0f1eec5 0%, #ffffff 99%);
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .col-1 {
        flex-basis: 25%;
    }

    .col-2 {
        flex-basis: 25%;
    }

    .col-3 {
        flex-basis: 25%;
    }

    .col-4 {
        flex-basis: 25%;
    }

    .container1 h1 {
        text-align: center;
    }

    .container1 .name {
        margin-left: 350px;
        margin-bottom: 20px;
    }
    
</style>

    <title>Appointments</title>

    <div class="container1">
        <h1>
            Appointments
        </h1>
        <div class="name">
            <span style="font-size: 20px; margin: 10px;padding: 5px;">Doctor Name</span>
            <input type="text" id="firstname" value= "Dr {{request.user.first_name}} " readonly>
        </div>
    </div>
    <div class="container">
        <button id="btn-Upcoming" class="btn" onclick="Upcoming()">Upcoming List</button>
        <button id="btn-Previous" class="btn" onclick="Previous()">Previous List</button>
        <ul id="Upcoming" class="responsive-table">
            <div id="heading">
                <p style="font-size:30px">Upcoming Appointments</p>
            </div>
            <li class="table-header">
                <div class="col col-1">Patient username</div>
                <div class="col col-2">Date</div>
                <div class="col col-3">Time</div>
                <div class="col col-4">Comment</div>
            </li>

            {% for appointment in up %}
                <li class="table-row">
                    <div class="col col-1" data-label="Patient username"> {{appointment.patient}}</div>
                    <div class="col col-2" data-label="Date">{{appointment.date}}</div>
                    <div class="col col-3" data-label="Time">{{appointment.time}}</div>
                    <div class="col col-4" data-label="Comment">{{appointment.comment}}</div>
                </li>

            {% endfor %}
        </ul>

        <ul id="Previous" class="responsive-table" style="display: none;">
            <div id="pheading">
            </div>
            <li class="table-header">
                <div class="col col-1">Patient username</div>
                <div class="col col-2">Date</div>
                <div class="col col-3">Time</div>
                <div class="col col-4">Comment</div>
            </li>
            
            {% for appointment in pre %}
            <li class="table-row">
                <div class="col col-1" data-label="Patient username"> {{appointment.patient}}</div>
                <div class="col col-2" data-label="Date">{{appointment.date}}</div>
                <div class="col col-3" data-label="Time">{{appointment.time}}</div>
                <div class="col col-4" data-label="Comment">{{appointment.comment}}</div>
            </li>

        {% endfor %}
        </ul>


    </div>
    <script>
        function Upcoming() {
            document.getElementById("btn-Upcoming").style.color = "rgba(108, 142, 169, 1)";
            document.getElementById("btn-Previous").style.color = "rgb(102, 205, 236)";
            document.getElementById('Upcoming').style.display = '';
            document.getElementById('Previous').style.display = 'none';
        };
        function Previous() {
            document.getElementById("btn-Previous").style.color = "rgba(108, 142, 169, 1)";
            document.getElementById("btn-Upcoming").style.color = "rgb(102, 205, 236)   ";
            document.getElementById('pheading').innerHTML = '<p style="font-size:30px">Previous Appointments</p>';
            document.getElementById('Upcoming').style.display = 'none';
            document.getElementById('Previous').style.display = '';
        };
    </script>

{% endblock con %}
    