*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#sidebar{
    position: fixed;
    width: 18%;
    height: 100%;
    left:0px;
    background: #151719;
}
#sidebar ul li{
    color: rgba(230,230,230,0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}
#sidebar ul li a{
    text-decoration: none;
    color: rgba(230,230,230,0.9);
}
#sidebar .toggle-btn{
    position: absolute;
    left:102%;
    top:5px;
    transition :all 5ms linear;
}
#sidebar.active{
    left:-220px;
}
#sidebar .toggle-btn span{
    display: block;
    width: 30px;
    height: 5px;
    background: #151719;
    margin: 5px 0px;
}
.container{
    position: absolute;
    left:440px;
    top: 50px;
}
.msg {
    margin-left: 10px;
    display:inline-block;
    padding:10px 100px;
    background-color: rgb(4, 28, 56);
    font-size:17px;
    border:none;
    border-radius:5px;
    color:#c2edfd;
    cursor:pointer;


    }

    /* The alert message box */
.alert {
    padding: 10px;
    display: inline-block;
    padding-left: 5%;
    background-color: #32b95f; /* Red */
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
    
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  } 


  