body{
    font-family: sans-serif;
    padding: 0px;
    background: rgba(108,142,169,1);
    background: linear-gradient(to right, rgba(74, 120, 235, 0.953) 0%, rgb(95, 200, 216) 0%, rgb(114, 146, 172) 80%);
}
#sidebar{
    position: fixed;
    width: 18%;
    height: 100%;
    left:0px;
    background: rgb(4, 28, 56);
}
#sidebar ul{
    display: block;
    margin-block-start: 0em;
    list-style-type:none;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
#sidebar ul li{
    color: rgba(230,230,230,0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
    cursor:pointer;
}
#sidebar .toggle-btn{
    position: absolute;
    left:110%;
    top:20px;
    transition :all 5ms linear;
}
#sidebar.active{
    left:-280px;
}

div button{
    margin: 5px;
    margin-left: 10px;
    padding: 5px;
    /*width: 250px;*/
    position: relative;
    width: 88%;
    background: rgba(108,142,169,1);
    border: 1px solid black;
    align-items: center;
}
div button:hover{
    transform: scale(1.04);
}
.nowtime{
    position:absolute;
    top:10px;
    right:10px;
    border: 1px solid black;
    color: black;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
}
#sidebar .toggle-btn span{
    display: block;
    width: 30px;
    height: 5px;
    background: #151719;
    margin: 5px 0px;
}
.container{
    position: absolute;
    left:440px;
    top: 50px;
}
.msg {
    display:inline-block;
    padding:10px 100px;
    background-color: rgb(4, 28, 56);
    font-size:17px;
    border:none;
    color:#c2edfd;
    cursor:pointer;
}
