/* CSS RESET */

body{
    margin:0px;
    padding:0px;
    background: rgb(11, 11, 12);
    background: linear-gradient(to right, rgba(155, 250, 245, 0.953) 0%, rgb(119, 202, 224), rgb(66, 137, 143) 80%);
}
html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    min-height: 70px;   
    max-height:70px ;
    /* background:linear-gradient(to right, rgba(24, 21, 155, 0.953) 0%, rgb(34, 83, 197) 0%, rgb(25, 120, 172) 50%); */
    position: -webkit-sticky;
    position: fixed;
    top: 5px;
    z-index: 500;
}
/* footer {
    position: sticky;
    
    height: 100px;
    width: 100%;
    background-color: #333333;
}

p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
} */

.alert{
    display:inline-block;
    padding: 10px 40px;
    position: relative;
    left: 50px;
    background-color: rgb(17, 20, 71);
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    font-size:16px;
    color:#56ebeb;
    cursor:pointer;
}
.nowtime{
    position:fixed;
    top:10px;
    right:10px;
    border: 1px solid rgb(57, 184, 195);
    color: rgb(11, 13, 32);
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
}

.logo{

    margin-left: 110px;
    color: black;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;
    font-family: 'Graduate', cursive;
}
.navbar{
    position: fixed;
    display: flex;
    margin-left: 800px;
    justify-content: space-around;
    width: 30%;
}
.navbar li{
    position: relative;
    list-style-type:none;
}
.navbar li:hover{
    border-bottom: 1px solid rgb(14, 15, 56);
}
.navbar li a{
    color:rgb(11, 17, 49);
    text-decoration: none;
    transition: color 0.5s;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;   
}
.navbar li a:hover{
    color: rgb(115, 235, 235);
}
.burger{
    display: none;
    cursor:pointer;
}
.burger div{
    width: 25px;
    height: 5px;
    background-color:rgb(226,226,226);
    margin:5px;
    transition: all 0.3s ease;
}


@media screen and (max-width:760px){
    body{
        overflow-x:hidden;
    }
    .navbar{
        position: fixed;
        right:0px;
        height: 90vh;
        top: 6vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }
    .navbar li{
        opacity:0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform:translate(0%) ;
}


/*Contact section*/
#contactus{
    position: relative;   
}
#contactus::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../img/contactus.jpg)no-repeat center center/cover;
}
#contactbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contactbox input,
#contactbox textarea{
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
}
#contactbox form{
    width: 40%;
}
#contactbox{
    font-size: 1.3rem;
}
.button{
    text-align: center;
}
.button input{
    width: 10%;
    padding: 0.5rem;
    margin-bottom: 5px;
    border-radius: 9px;
    font-size: 1.1rem;
}
@media screen and (max-width:1024px){
    #contactbox form{
        width: 80%;
    }
}
footer{
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 4px;
}

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Lobster', cursive;
}
.h-secondary{
    font-size: 2.0rem;
    padding: 12px;
}
.center{
    text-align: center;
}

.container {
    position: relative;
    left: 20px;
    margin-top: 250px;
}


/* Dropdown Button */
.dropbtn {
    background-color: rgb(9, 9, 36);
    color: rgb(87, 226, 231);
    padding: 10px 15px;
    font-size: 14px;
    margin-left: 50px;
    box-shadow: 0px 8px 8px 0px rgb(0, 0, 0);
    border: none;
  }

  .dropdown {
    position: relative;
    display:inline-block;
    
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #101341;
    min-width: 300px;
    min-height:auto;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    z-index: 1;
    cursor: pointer;
  }
  
  .dropdown-content a {
    color: rgb(118, 240, 240);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(136, 223, 226);
    color: rgb(20, 20, 61);
}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #84e0f0;
            color: rgb(14, 14, 53);
        }

.formbox{
    width: 100%;
    
    font-size: 1.1rem;
}


.general-form {
    width: 500px;
    margin: 0 auto;
    margin-top: 35px;
    background:linear-gradient(to right, #7f9ec7 0%, #b0f1eec5 0%, #ffffff 99%);
    font-family: Tahoma, sans-serif;
    border: 1px solid rgb(28, 28, 71);
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 500ms linear;
}
.general-form:hover {
    transform: scale(1.04);
}


.general-form h1 {
    text-align: center;
    color: rgb(28, 28, 71);
}
.general-form form div input[type="time"],
.general-form form div input[type="date"],
.general-form form div input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #c1cffffd;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row {
    margin: 3px;
    padding: 3px;
    margin-bottom: auto;
}

.info {
    margin: 3px;
    padding: 3px;
    margin-top: auto;
}
#submit {
    position: relative;
    background: rgb(28, 28, 71);
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    transform: scale(1.04);
    background-color: rgb(153, 253, 253);
}

.btn {
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(153, 230, 232);
    transition: all 300ms linear;
}

.btn:hover {
    color: rgb(29, 22, 88);
    
}


.signup-form {
    font-family: "Roboto", sans-serif;
    width:600px;
    margin:30px auto;
    background:linear-gradient(to right, #7f9ec7 0%, #b0f1eec5 0%, #ffffff 99%);
    border-radius: 10px;
    border: 1px solid rgb(28, 28, 71);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 500ms linear;
  }
  .signup-form:hover {
      transform: scale(1.04);
  }

  .form-header h1 {
    font-size: 30px;
    text-align:center;
    color:rgb(4, 28, 56);
    padding:10px 0px ;
  }

  .form-body {
    padding:10px 40px;
    color:rgb(68, 62, 62);
  }

  .form-group{
    margin-bottom:20px;
  }

  .form-body .form-input[type="password"],
    .form-body .form-input[type="text"] {
      width: 100%;
      padding: 15px;
      border: 1.5px solid #dddddd;
      margin-bottom: 15px;
      box-sizing:border-box;
  }
  .horizontal-group .left{
    float:left;
    width:50%;
  }
  .horizontal-group .right{
    float:right;
    width:50%;
  }

  ::-webkit-input-placeholder  {
    color:rgb(4, 28, 56);
    
  }

  .signup-form .form-footer  {
  background-color:rgba(66, 122, 148, 0.383);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding:10px 40px;
  text-align: right;
  border-top: 3px solid #1abeb1;
 
  }

  .form-footer span {
  float:left;
  margin-top: 10px;
  color:rgb(0, 0, 0);  
  font-style: italic;
  font-weight: thin;
  }

  .btn {
  display:inline-block;
  padding:10px 20px;
  background-color: rgb(4, 28, 56);
  font-size:17px;
  border:none;
  border-radius:5px;
  color:#c2edfd;
  cursor:pointer;
  }

  .btn:hover {
  background-color: rgba(196, 234, 251, 0.876);;
  color:rgb(4, 28, 56);
  }

  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.table-row {
    background:linear-gradient(to right, #7f9ec7 0%, #b0f1eec5 0%, #ffffff 99%);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.col-1 {
    flex-basis: 25%;
}

.col-2 {
    flex-basis: 25%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 25%;
}


