{% extends 'index.html' %}


{% block con %}

    <div>
        <div class="form-group general-form">
            <h1>Profile</h1>
            <form action="POST" action="/profile/">


                {% for k,v in menu.items %}
                    <div class=grid-cont>
                        <div class="row">
                            <label for="firstname">
                                <h4>{{k}}</h4>
                            </label>
                        </div>
                        <div class="info">
                            <input type="text" id={{k}} value= "{{v}}" readonly>
                        </div>
                    </div>

                {% endfor %}
            </form>
        </div>
    </div>

    {% endblock con %}