{% load static %}
		<title>Login|Hospital</title>
	
	<style>
		body {
		background: linear-gradient(to right, rgba(155, 250, 245, 0.953) 0%, rgb(119, 202, 224), rgb(66, 137, 143) 80%);
		}

		.msg {
		margin-left: 10px;
		display:inline-block;
		padding:10px 100px;
		background-color: rgb(4, 28, 56);
		font-size:17px;
		border:none;
		border-radius:5px;
		color:#c2edfd;
		cursor:pointer;


		}

		.login-form {
			width: 320px;
			margin-top:150px;
			margin-left: 800px;
			background:linear-gradient(to right, #7f9ec7 0%, #b0f1eec5 0%, #ffffff 99%);
			font-family: Tahoma, sans-serif;
			border: 1px solid rgb(28, 28, 71);
			
			padding: 35px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			transition: all 500ms linear;
		}
		.login-form:hover {
    		transform: scale(1.04);
		}

		.form-header  {
		
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		
		}

		.form-header h1 {
		font-size: 30px;
		text-align:center;
		color:rgb(4, 28, 56);
		padding:20px 0;
		border-bottom:1px solid #076666;
		}
		.form-body {
		padding:10px 40px;
		color:rgb(68, 62, 62);
		}

		.form-group{
		margin-bottom:20px;
		}

		.form-body .label-title {
		color:rgb(4, 28, 56);;
		font-size: 17px;
		font-weight: bold;
		}

		.form-body .form-input[type="password"],
				.form-body .form-input[type="text"] {
					width: 100%;
					padding: 15px;
					border: 1.5px solid #6da1e4;
					margin-bottom: 15px;
					box-sizing:border-box;
				}

		::-webkit-input-placeholder  {
		color:#031a31;
		}

		.login-form .form-footer  {
		
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		padding:10px 40px;
		text-align: right;
		
		clear:both;
		}

		.btn {
		display:inline-block;
		padding:10px 20px;
		background-color: rgb(4, 28, 56);
		font-size:17px;
		border:none;
		border-radius:5px;
		color:#c2edfd;
		cursor:pointer;
		}
		.btn:hover {
		background-color: rgba(196, 234, 251, 0.876);;
		color:rgb(4, 28, 56);
		}
	</style>
	<div>
		<img src="{% static 'logo.png' %}" alt="logo" style="
		position: fixed;
		margin-left: 200px;
		margin-top: 0;
		width: 500px;
		height: 400px;
		">
		</a>
		
	</div>
	<body>
		{% if messages %}
			{% for message in messages %} 
				<div class = "msg">
					{{message}}
				</div>
            
            {% endfor %}
        {% endif %}
		<form class="login-form" action="/login/" method="POST">
			{% csrf_token %}
			<!-- form header -->
			<div class="form-header">
				<h1>Login</h1>
			</div>

			<!-- form body -->
			<div class="form-body">	
				<input type="text" name="username" id="username" class="form-input" placeholder="*username" required="required">
				<input type="password" name="password" id="password" class="form-input" placeholder="*enter your password" required="required">
			</div>

			<div class="form-footer">
				<button type="submit" class="btn">Get In</button>
			</div>

		</form>


	</body>

