{% extends 'index.html' %}


{% block con %}
  

  
    
    <title>Register Patient</title>


    
    <form class="signup-form" action="/register/" method="POST">
      {% csrf_token %}

      

      <div class="form-header">
        <h1>Register Account</h1>
      </div>

      <div class="form-body">

        <div class="horizontal-group">
          <div class="form-group left">
            <input type="text" name="firstname" id="firstname" class="form-input" placeholder="* First Name" required="required" />
          </div>
          <div class="form-group right">
            <input type="text" name="lastname" id="lastname" class="form-input" placeholder="* Last name" />
          </div>
        </div>

        <div class="form-group">
          <input type="text" name="email" id="email" class="form-input" placeholder="* Email" required="required">
        </div>

        <div class="horizontal-group">
          <div class="form-group left">
          
            <input type="text" name="contact" id="contact" class="form-input" placeholder="*Phone N0." required="required">
          </div>
          <div class="form-group left">
            
            <input type="text" name="username" id="username" class="form-input" placeholder="* Username" required="required">
          </div>
        </div>

      

        <!-- Passwrod and confirm password -->
        <div class="horizontal-group">
          <div class="form-group left">
           
            <input type="password" name="password" id="password" class="form-input" placeholder="enter your password" required="required">
          </div>
          <div class="form-group right">
            <input type="password" class="form-input" name="confirm-password" id="confirm-password" placeholder="enter your password again" required="required">
          </div>
        </div>

        
        <div class="horizontal-group">
          <div class="form-group left">
          
          <div class="input-group">
            <label for="male" style="color:rgb(4, 28, 56);"><input type="radio" name="gender" value="male" id="male"> Male</label>
            <label for="female" style="color:rgb(4, 28, 56);"><input type="radio" name="gender" value="female" id="female"> Female</label>
          </div>
          </div>

        </div>

        <div class="form-group">
          <label for="dob" style="color:rgb(4, 28, 56);">DOB</label>
          <input type="date" name="dob" id="dob">
        </div>

        <!--blood group-->
        <br>
        <div class="form-group">
          <label for="bldg" class="label-title" style="color:rgb(4, 28, 56);">Blood Group </label>
          <input type="text" name="bldg" id="bldg"  placeholder="A+,B+,A-,O+...">
        </div>  
        <br>

        <div class="form-group ">  
          <input type="text" name="address" id="address" class="form-input" placeholder="enter your address" required="required">
        </div>

      </div>


      <div class="form-footer">
        <span>* required</span>
        <button type="submit" class="btn">Register</button>
      </div>
    </form>
    {% endblock con %}